<html>
    <head>
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-theme.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/theme.css') }}">
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <head>
    <body>
        <nav class = "navbar navbar-default navbar-dark navbar-inverse" role = "navigation">
           <div class = "navbar-header">
              <button type = "button" class = "navbar-toggle"
                 data-toggle = "collapse" data-target = "#example-navbar-collapse">
                 <span class = "sr-only">Toggle navigation</span>
                 <span class = "icon-bar"></span>
                 <span class = "icon-bar"></span>
                 <span class = "icon-bar"></span>
              </button>
              <a class = "navbar-brand" href = "/website/">UCR</a>
           </div>
           <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
              <ul class = "nav navbar-nav">
                  {% if user.role.role in ['Director', 'Developer'] %}
                 <li><a href = "/website/overview/">Overview</a></li>
                  {% endif %}
                  {% if user.role.role in ['Developer','Director', 'Informatics Staff', 'Research Manager', 'Contact Staff'] %}
                 <li><a href = "/website/facilities/">Facilities</a></li>
                  {% endif %}
                  {% if user.role.role in ['Developer', 'Informatics Staff', 'Research Manager', 'Contact Staff'] %}
                 <li><a href = "/website/patients/">Patients</a></li>
                  {% endif %}
                  {% if user.role.role in ['Developer', 'Informatics Staff', 'Research Manager', 'Contact Staff'] %}
                 <li><a href = "/website/physicians/">Physicians</a></li>
                  {% endif %}
                  {% if user.role.role in ['Developer', 'Informatics Staff', 'Research Manager', 'Contact Staff'] %}
                 <li><a href = "/website/projects/">Projects</a></li>
                  {%endif %}
                  {% if user.role.role in ['Developer', 'Informatics Staff', 'Research Manager', 'Contact Staff'] %}
                 <li><a href = "/website/projectpatients/">Project Patients</a></li>
                  {% endif %}
                  {% if user.role.role in ['Developer', 'Informatics Staff', 'Research Manager'] %}
                 <li><a href = "/website/staff/">Staff</a></li>
                  {% endif %}
                  {% if user.role.role in ['Developer', 'Informatics Staff', 'Research Manager'] %}
                 <li><a href = "/website/lookuptables/">LUTS</a></li>
                  {% endif %}
                 <li class="logout"><a href = "/logout/">Logout: ({{user.uID}} - {{user.role.role}})</a></li>
              </ul>
           </div>
        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

<script>
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })
</script>