{% extends "layout_all.html" %}
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <h1>Patients</h1>
        </div>
      </div>
      <form class="formOverride" id="mainform" action='', method='get'>
          <fieldset>
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_firstName">First Name</label>
                  <input type="text" class="form-control" name="firstName" id="text_firstName" value="{{form.queryParams.firstName}}">
                </div>
                <div class="col-md-2"> 
                  <label for="text_lastName">Last Name</label>
                  <input type="text" class="form-control" name="lastName" id="text_lastName" value="{{form.queryParams.lastName}}">
                </div>
                <div class="col-md-1">
                  <label for="text_patID">Patient ID</label>
                  <input type="text" class="form-control" name="patID" id="text_patID" value="{{form.queryParams.patID}}">
                </div>
                <div class = "col-md-1">
                  <label for="text_updbid">UPDBID</label>
                  <input type="text" class="form-control" name="UPDBID" id="text_updbid" value="{{form.queryParams.UPDBID}}">
                </div>
                <div class = "col-md-1">
                  <label for="text_ucrDistID">UCRDistID</label>
                  <input type="text" class="form-control" name="ucrDistID" id="text_ucrDistID" value="{{form.queryParams.ucrDistID}}">
                </div>
                <div class = "col-md-1">
                  <label for="text_recordID">Record ID</label>
                  <input type="text" class="form-control" name="recordID" id="text_recordID" value="{{form.queryParams.recordID}}">
                </div>
                <div class="col-md-2">
                  <label for="btn-search" style="visibility: hidden">Search</label>
                  <button class="btn btn-primary form-control" id="btn_search" type="submit" value="Submit">Search</button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      
        <table class="table table-striped no-spacing">
          <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Patient ID</th>
                <th>Record ID</th>
                <th>UCRDistID</th>
                <th>UPDBID ID</th>
            </tr>
          </thead>
          <tbody>
            {% for patient in form["patients"] %}
            <tr>
                <td><a href="/website/patients/{{patient["patientID"]}}">{{patient["lastName"]}}</a></td>
                <td><a href="/website/patients/{{patient["patientID"]}}">{{patient["firstName"]}}</a></td>
                <td><a href="/website/patients/{{patient["patientID"]}}">{{patient["patID"]}}</a></td>
                <td><a href="/website/patients/{{patient["patientID"]}}">{{patient["recordID"]}}</a></td>
                <td><a href="/website/patients/{{patient["patientID"]}}">{{patient["ucrDistID"]}}</a></td>
                <td><a href="/website/patients/{{patient["patientID"]}}">{{patient["UPDBID"]}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}