{% extends "layout_all.html" %}
{% block content %}
 <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h1>Patient Projects</h1>
        </div>
      </div>
      <form class="formOverride" id="mainform" action='', method='get'>
          <fieldset>
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_firstName">First Name</label>
                  <input type="text" class="form-control" name="firstName" id="text_firstName" value = "{{form.queryParams.firstName}}">
                </div>
                <div class="col-md-2"> 
                  <label for="text_lastName">Last Name</label>
                  <input type="text" class="form-control" name="lastName" id="text_lastName" value = "{{form.queryParams.lastName}}">
                </div>
                <div class="col-md-1">
                  <label for="select_finalCode">Final Code</label>
                  <select type="text" class="form-control" name="finalCodeID" id="select_finalCode">
                    <option value=""></option>
                  {% for finalCode in form["finalCodes"] %}
                    {% if finalCode.finalCodeID == form.queryParams.finalCodeID %}
                    <option value="{{finalCode.finalCodeID}}" selected="selected">{{finalCode.finalCode}} - {{finalCode.finalCodeDefinition}}</option>
                    {% else %}
                    <option value="{{finalCode.finalCodeID}}">{{finalCode.finalCode}} - {{finalCode.finalCodeDefinition}}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                </div>
                <div class = "col-md-1">
                  <label for="text_batch">Batch</label>
                  <input type="text" class="form-control" name="batch" id="text_batch" value = "{{form.queryParams.batch}}">
                </div>
                <div class = "col-md-1">
                    <label for="select_siteGroup">Site Group</label>
                    <select type="text" class="form-control" name="siteGrpID" id="select_SiteGroup">
                        <option value=""></option>
                        {% for siteGroup in form["siteGroups"] %}
                        {% if siteGroup.siteID == form.queryParams.siteGrpID %}
                        <option value="{{siteGroup.siteID}}" selected="selected">{{siteGroup.site}}</option>
                        {% else %}
                        <option value="{{siteGroup.siteID}}">{{siteGroup.site}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                  <label for="select_projectID">Project</label>
                  <select type="text" class="form-control" name="projectID" id="select_projectID">
                    <option value=""></option>
                  {% for project in form["projects"] %}
                    {% if project.projectID == form.queryParams.projectID %}
                    <option value="{{project.projectID}}" selected="selected">{{project.shortTitle}}</option>
                    {% else %}
                    <option value="{{project.projectID}}">{{project.shortTitle}}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-1">
                  <label for="btn-search" style="visibility: hidden">Search</label>
                  <button class="btn btn-primary form-control" id="btn_search" type="submit" value="Submit">Search</button>
                </div>
                <div class="col-md-1">
                  <label for="btn-clear" style="visibility: hidden">Clear Search</label>
                  <button class="btn btn-primary form-control" id="btn_clear" onclick="document.getElementById('mainform').reset();">Clear Search</button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      
        <table class="table table-striped no-spacing">
          <thead>
            <tr>
                <th>Project Link</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Final Code</th>
                <th>Batch</th>
                <th>Site Group</th>
            </tr>
          </thead>
          <tbody>
            {% for projectPatient in projectPatients %}
            <tr>
                <td><a href="/website/projects/{{projectPatient.project.projectID}}">{{projectPatient.project.shortTitle}}</a></td>
                <td><a href="/website/projectpatients/{{projectPatient["participantID"]}}">{{projectPatient.ctc.patient["lastName"]}}</a></td>
                <td><a href="/website/projectpatients/{{projectPatient["participantID"]}}">{{projectPatient.ctc.patient["firstName"]}}</a></td>
                <td><a href="/website/projectpatients/{{projectPatient["participantID"]}}">{{projectPatient["finalCode"].finalCode}} - {{projectPatient["finalCode"].finalCodeDefinition}}</a></td>
                <td><a href="/website/projectpatients/{{projectPatient["participantID"]}}">{{projectPatient["batch"]}}</a></td>
                <td><a href="/website/projectpatients/{{projectPatient["participantID"]}}">{{projectPatient["siteGrp"].site}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
</div>
{% endblock %}
