{% extends "layout_all.html" %}
{% block content %}
    
        <form class="formOverride" id="projectForm" action='/website/projects/{{form.project.projectID}}/', method='post'>
          <fieldset>
            <legend>Project Information</legend>
            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <label for="text_projectTitle">Project Title</label>
                  <input type="text" class="form-control" name="projectTitle" id="text_projectTitle" value="{{form["project"]["projectTitle"]}}" >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="text_shortTitle">Short Title</label>  
                  <input type="text" class="form-control" name="shortTitle" id="text_shortTitle" value="{{form["project"]["shortTitle"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="select_projectTypeID">Project Type</label>
                  <select type="text" class="form-control" name="projectTypeID" id="select_projectTypeID" value="{{form["project"]["projectTypeID"]}}">
                  {% for projectType in form["projectTypes"] %}
                  {% if projectType.projectTypeID == form["project"]["projectTypeID"] %}
                    <option value="{{projectType.projectTypeID}}" selected=selected>{{projectType.projectType}}</option>
                    {% else %}
                    <option value="{{projectType.projectTypeID}}">{{projectType.projectType}}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class = "col-md-6">
                  <label for="text_previousShortTitle">Previous Short Title</label>
                  <input type="text" class="form-control" name="previousShortTitle" id="text_previousShortTitle" value="{{form["project"]["previousShortTitle"]}}">
                </div>
               <div class="col-md-2">  
                  <label for="text_sop">SOP</label>        
                  <input type="text" class="form-control" name="sop" id="text_sop" value="{{form["project"]["sop"]}}">
               </div>
              </div>
              <div class = "row">
               <div class="col-md-8">  
                  <label for="text_projectSummary">Project Summary</label>        
                  <textarea type="textaraea" class="form-control" name="projectSummary" id="text_projectSummary">{{form["project"]["projectSummary"]}}</textarea>
               </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_ucrProposal">UCR Proposal</label>
                  <input type="text" class="form-control" name="ucrProposal" id="text_ucrProposal" value="{{form["project"]["ucrProposal"]}}">
                </div>
                <div class="col-md-2">
                  <label for="text_budgetDoc">Budget Doc</label>
                  <input type="text" class="form-control" name="budgetDoc" id="text_budgetDoc" value="{{form["project"]["budgetDoc"]}}">
                </div>
                <div class="col-md-2"> 
                  <label for="text_ucrFee">UCR Fee</label>
                  <input type="text" class="form-control" name="ucrFee" id="text_ucrFee" value="{{form["project"]["ucrFee"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="select_irbHolderID">IRB Holder</label>
                  <select type="text" class="form-control" name="irbHolderID" id="select_irbHolderID" value="{{form["project"]["irbHolderID"]}}">
                  {% for irbHolder in form["irbHolders"] %}
                    <option value="{{irbHolder["irbHolderID"]}}">{{irbHolder["holder"]}}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="date_dateAdded">Date Added</label>
                  <input type="date" class="form-control" name="dateAdded" id="date_dateAdded" value="{{form["project"]["dateAdded"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_finalRecruitmentReport">Final Recruitment Report</label>
                  <input type="text" class="form-control" name="finalRecruitmentReport" id="text_finalRecruitmentReport" value="{{form["project"]["finalRecruitmentReport"]}}">
                </div>
                <div class="col-md-2"> 
                  <label for="text_ucrNoFee">UCR No Fee</label>
                  <input type="text" class="form-control" name="ucrNoFee" id="text_ucrNoFee" value="{{form["project"]["ucrNoFee"]}}">
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_ongoingContact">Ongoing Contact</label>
                  <input type="text" class="form-control" name="ongoingContact" id="text_ongoingContact" value="{{form["project"]["ongoingContact"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="date_activityStartDate">Activity Start Date</label>
                  <input type="date" class="form-control" name="activityStartDate" id="date_activityStartDate" value="{{form["project"]["activityStartDate"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="date_activityEndDate">Activity End Date</label>
                  <input type="date" class="form-control" name="activityEndDate" id="date_activityEndDate" value="{{form["project"]["activityEndDate"]}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_createdDate">Created</label>
                  <input type="text" class="form-control" name="createdDate" id="text_createdDate" value="{{form["project"]["createdDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class = "col-md-2">
                  <label for="text_modifiedDate">Last Modified</label>
                  <input type="text" class="form-control" name="modifiedDate" id="text_modifiedDate" value="{{form["project"]["modifiedDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class="col-md-2">
                  <label for="text_versionID">Version</label>  
                  <input type="text" class="form-control" name="versionID" id="text_versionID" value="{{form["project"]["versionID"]}}" readonly="readonly">
                </div>
            </div>
            <!-- Extra hidden fields -->
            <input type="hidden" name="_method" value="put" />
          </div>
        </fieldset>
        </fieldset>
            <fieldset>
                <div class = "form-group">
                  <div class="row">
                    <div class="col-md-2">
                      <button class="btn btn-primary form-control" type="submit" value="Submit">Submit Edits</button>
                    </div>
                  </div>
                </div>
            </fieldset>
    </form>
    <ul class = "nav nav-tabs" role="tablist">
        <li class="active"><a href="#arcReviewTab"  role="tab" data-toggle="tab">Arc Reviews</a></li>
        <li><a href="#budgetTab" role="tab" data-toggle="tab">Budgets</a></li>
        <li><a href="#fundingTab" role="tab" data-toggle="tab">Fundings</a></li>
        <li><a href="#logTab" role="tab" data-toggle="tab">Logs</a></li>
        <li><a href="#preApplicationTab" role="tab" data-toggle="tab">Pre Application</a></li>
        <li><a href="#projectPatientTab" role="tab" data-toggle="tab">Project Patients</a></li>
        <li><a href="#projectStaffTab" role="tab" data-toggle="tab">Project Staff</a></li>
        <li><a href="#projectStatusesTab" role="tab" data-toggle="tab">Project Statuses</a></li>
        <li><a href="#reviewCommitteeTab" role="tab" data-toggle="tab">Review Committees</a></li>
        <li><a href="#ucrReportTab" role="tab" data-toggle="tab">UCR Reports</a></li>
    </ul>
    <div class="tab-content">        
        <div class="tab-pane active" id="arcReviewTab">
            <ul class ="nav nav-tabs" role="tablist">
                {% for arcReview in form.project.arcReviews %}
                    {% if loop.index == 1 %}
                    <li class="active"><a href="#arcReview{{arcReview.arcReviewID}}Tab" role="tab" data-toggle="tab">Arc Review {{loop.index}} </a></li>
                    {% else %}
                    <li><a href="#arcReview{{arcReview.arcReviewID}}Tab" role="tab" data-toggle="tab">Arc Review {{loop.index}} </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="#newArcReview" role="tab" data-toggle="tab">New Arc Review</a></li>
            </ul>
            <div class="tab-content">
                {% for arcReview in form.project.arcReviews %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="arcReview{{arcReview.arcReviewID}}Tab">
                        {% include 'helper_forms/arc_review_form.html' %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="arcReview{{arcReview.arcReviewID}}Tab">
                        {% include 'helper_forms/arc_review_form.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="tab-pane" id="newArcReview">
                {% set arcReview = none %}
                {% include 'helper_forms/arc_review_form.html' %}
                </div>
            </div>
        </div>
    
        <div class="tab-pane" id="budgetTab">
            <ul class ="nav nav-tabs" role="tablist">
                {% for budget in form.project.budgets %}
                    {% if loop.index == 1 %}
                    <li class="active"><a href="#budget{{budget.budgetID}}Tab" role="tab" data-toggle="tab">Budget {{loop.index}} </a></li>
                    {% else %}
                    <li><a href="#budget{{budget.budgetID}}Tab" role="tab" data-toggle="tab">Budget {{loop.index}} </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="#newBudget" role="tab" data-toggle="tab">New Budget</a></li>
            </ul>
            <div class="tab-content">
                {% for budget in form.project.budgets %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="budget{{budget.budgetID}}Tab">
                        {% include 'helper_forms/budget_form.html' %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="budget{{budget.budgetID}}Tab">
                        {% include 'helper_forms/budget_form.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="tab-pane" id="newBudget">
                {% set budget = none %}
                {% include 'helper_forms/budget_form.html' %}
                </div>
            </div>
        </div>
    
        <div class = "tab-pane" id="fundingTab">
            <ul class ="nav nav-tabs" role="tablist">
                {% for funding in form.project.fundings %}
                    {% if loop.index == 1 %}
                    <li class="active"><a href="#funding{{funding.fundingID}}Tab" role="tab" data-toggle="tab">Funding {{loop.index}} </a></li>
                    {% else %}
                    <li><a href="#funding{{funding.fundingID}}Tab" role="tab" data-toggle="tab">Funding {{loop.index}} </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="#newFunding" role="tab" data-toggle="tab">New Funding</a></li>
            </ul>
            <div class="tab-content">
                {% for funding in form.project.fundings %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="funding{{funding.fundingID}}Tab">
                        {% include 'helper_forms/funding_form.html' %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="funding{{funding.fundingID}}Tab">
                        {% include 'helper_forms/funding_form.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="tab-pane" id="newFunding">
                {% set funding = none %}
                {% include 'helper_forms/funding_form.html' %}
                </div>
            </div>
        </div>
        
        <div class = "tab-pane" id="logTab">
            <ul class ="nav nav-tabs" role="tablist">
                {% for log in form.project.logs %}
                    {% if loop.index == 1 %}
                    <li class="active"><a href="#log{{log.logID}}Tab" role="tab" data-toggle="tab">Log {{loop.index}} </a></li>
                    {% else %}
                    <li><a href="#log{{log.logID}}Tab" role="tab" data-toggle="tab">Log {{loop.index}} </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="#newLog" role="tab" data-toggle="tab">New Log</a></li>
            </ul>
            <div class="tab-content">
                {% for log in form.project.logs %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="log{{log.logID}}Tab">
                        {% include 'helper_forms/log_form.html' %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="log{{log.logID}}Tab">
                        {% include 'helper_forms/log_form.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="tab-pane" id="newLog">
                {% set log = none %}
                {% include 'helper_forms/log_form.html' %}
                </div>
            </div>
        </div>
        
        <div class = "tab-pane" id="preApplicationTab">
            {% set preApplication = form.project.preApplication %}
            {% include 'helper_forms/pre_application_form.html' %}
        </div>
        
        <div class = "tab-pane" id="projectPatientTab">
            <form class="formOverride" id="projectPatients">
                <fieldset>
                    <table class="table table-striped no-spacing">
                          <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Site</th>
                                <th>Histology</th>
                                <th>Stage</th>
                                <th>DNC</th>
                                <th>Last Updated</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for pp in form.project.projectPatients %}
                            <tr>
                                <td><a href="/website/projectpatients/{{pp["participantID"]}}">{{pp.ctc.patient.firstName}}</a></td>
                                <td><a href="/website/projectpatients/{{pp["participantID"]}}">{{pp.ctc.patient.lastName}}</a></td>
                                <td><a href="/website/projectpatients/{{pp["participantID"]}}">{{pp.ctc.site}}</a></td>
                                <td><a href="/website/projectpatients/{{pp["participantID"]}}">{{pp.ctc.histology}}</a></td>
                                <td><a href="/website/projectpatients/{{pp["participantID"]}}">{{pp.ctc.stage}}</a></td>
                                <td><a href="/website/projectpatients/{{pp["participantID"]}}">{{pp.ctc.dnc}}</a></td>
                                <td><a href="/website/projectpatients/{{pp["participantID"]}}">{{pp.modifiedDate}}</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
        
        <div class = "tab-pane" id="projectStaffTab">
            <ul class ="nav nav-tabs" role="tablist">
                <li><a href="#projectStaffTableTab" role="tab" data-toggle="tab">Project Staff Table</a></li>
                <li><a href="#newProjectStaffTab" role="tab" data-toggle="tab">Add Staff to Project</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="projectStaffTableTab">
                    <form class="formOverride" id="projectStaff">
                        <fieldset>
                            <table class="table table-striped no-spacing">
                                  <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Credentials</th>
                                        <th>Role</th>
                                        <th>Date Pledge</th>
                                        <th>Date Revoked</th>
                                        <th>Contact</th>
                                        <th>Inactive</th>
                                        <th>Last Updated</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for ps in form.project.projectStaff %}
                                    <tr>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.staff.firstName}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.staff.middleName}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.staff.lastName}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.staff.credentials}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.staffRole.staffRole}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.datePledge}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.dateRevoked}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.contact}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.inactive}}</a></td>
                                        <td><a href="/website/projectstaff/{{ps["projectStaffID"]}}">{{ps.modifiedDate}}</a></td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                            </table>
                        </fieldset>
                    </form>
                    </div>
                <div class="tab-pane" id="newProjectStaffTab">
                {% set projectStaff = none %}
                {% set staff = none %}
                {% include 'helper_forms/project_staff_form.html' %}
                </div>
            </div>
            
        </div>
        
        <div class = "tab-pane" id="projectStatusesTab">
            <ul class ="nav nav-tabs" role="tablist">
                {% for projectStatus in form.project.projectStatuses %}
                    {% if loop.index == 1 %}
                    <li class="active"><a href="#projectStatus{{projectStatus.projectStatusID}}Tab" role="tab" data-toggle="tab">Project Status {{loop.index}} </a></li>
                    {% else %}
                    <li><a href="#projectStatus{{projectStatus.projectStatusID}}Tab" role="tab" data-toggle="tab">Project Status {{loop.index}} </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="#newProjectStatus" role="tab" data-toggle="tab">New Status</a></li>
            </ul>
            <div class="tab-content">
                {% for projectStatus in form.project.projectStatuses %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="projectStatus{{projectStatus.projectStatusID}}Tab">
                        {% include 'helper_forms/project_status_form.html' %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="projectStatus{{projectStatus.projectStatusID}}Tab">
                        {% include 'helper_forms/project_status_form.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="tab-pane" id="newProjectStatus">
                {% set projectStatus = none %}
                {% include 'helper_forms/project_status_form.html' %}
                </div>
            </div>
        </div>
        
        <div class = "tab-pane" id="reviewCommitteeTab">
            <ul class ="nav nav-tabs" role="tablist">
                {% for reviewCommittee in form.project.reviewCommittees %}
                    {% if loop.index == 1 %}
                    <li class="active"><a href="#reviewCommittee{{reviewCommittee.reviewCommitteeID}}Tab" role="tab" data-toggle="tab">RC {{loop.index}} </a></li>
                    {% else %}
                    <li><a href="#reviewCommittee{{reviewCommittee.reviewCommitteeID}}Tab" role="tab" data-toggle="tab">RC {{loop.index}} </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="#newReviewCommittee" role="tab" data-toggle="tab">New RC</a></li>
            </ul>
            <div class="tab-content">
                {% for reviewCommittee in form.project.reviewCommittees %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="reviewCommittee{{reviewCommittee.reviewCommitteeID}}Tab">
                        {% include 'helper_forms/review_committee_form.html' %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="reviewCommittee{{reviewCommittee.reviewCommitteeID}}Tab">
                        {% include 'helper_forms/review_committee_form.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="tab-pane" id="newReviewCommittee">
                {% set reviewCommittee = none %}
                {% include 'helper_forms/review_committee_form.html' %}
                </div>
            </div>
        </div>
        <div class = "tab-pane" id="ucrReportTab">
            <ul class ="nav nav-tabs" role="tablist">
                {% for ucrReport in form.project.ucrReports %}
                    {% if loop.index == 1 %}
                    <li class="active"><a href="#ucrReport{{ucrReport.ucrReportID}}Tab" role="tab" data-toggle="tab">UCR Report {{loop.index}} </a></li>
                    {% else %}
                    <li><a href="#ucrReport{{ucrReport.ucrReportID}}Tab" role="tab" data-toggle="tab">UCR Report {{loop.index}} </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="#newUCRReport" role="tab" data-toggle="tab">New UCR Report</a></li>
            </ul>
            <div class="tab-content">
                {% for ucrReport in form.project.ucrReports %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="ucrReport{{ucrReport.ucrReportID}}Tab">
                        {% include 'helper_forms/ucr_report_form.html' %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="ucrReport{{ucrReport.ucrReportID}}Tab">
                        {% include 'helper_forms/ucr_report_form.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="tab-pane" id="newUCRReport">
                {% set ucrReport = none %}
                {% include 'helper_forms/ucr_report_form.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
