{% extends "layout_all.html" %}
{% block content %}
 <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 hidden-xs">
        {% include 'leftnav_dashboard.html' %}
    </div>
    <br>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2">
            </div>
             <form action='/website/worklist/', method='get'>
                 <div class="col-md-1 form-group">
                     <label>Projects </label>
                 </div>
                 <div class="col-md-4 form-group">
                    <select type="text" class="form-control" required="required" name="projectID" id="projectID">
                      {% for project in form.projects %}
                            {% if project.projectID == form.selectedProject %}
                                <option value="{{project.projectID}}" selected="selected">{{project.shortTitle or ''}}</option>
                            {% else %}
                                <option value="{{project.projectID}}">{{project.shortTitle or ''}}</option>
                            {% endif %}
                      {% endfor %}
                    </select>
                 </div>
                 <div class="col-md-2 form-group">
                     <button type="submit" class="btn btn-primary">View Worklist</button>
                 </div>

            </form>
            <form action='/website/worklist/0', method='get'>
                 <div class="col-md-2 form-group">
                     <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh </button>
                 </div>
            </form>
        </div>
        <br>

         {% for button in form.buttons %}
           <form target="_blank" action='/website/tasks/{{form.selectedProject}}/{{button}}', method='get'>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-3 form-group">
                         <button class="btn btn-info btn-lg btn-block btn-huge">{{button}}</button>
                    </div>
                </div>
           </form>
         {% endfor %}

    </div>
  </div>
</div>
{% endblock %}