<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default" >
			<div class="panel-heading"> New Patient Contact</div>
				<div class="panel-body">
                {% if contact is not none %}
                    <!-- action url is for update -->
                    <form class="formOverride" id="contactForm" action='/website/contacts/{{contact["contactID"]}}/', method='post'>
                {% else %}
                    <!-- action url is for post/create -->
                    <form class="formOverride" id="contactForm" action='/website/contacts/', method='post'>
                {% endif %}
                      <fieldset>
                            <div class="form-group">
                              {% if contact is not none %}
                              <div class="row">
                                <div class = "col-md-8">
                                  <label for="select_participantID">Project Patient</label>
                                  <select type="text" class="form-control" name="participantID" id="select_participantID">
                                      {% for pp in form.projectPatients %}
                                        {% if pp.participantID == contact.participantID %}
                                            <option selected="selected" value="{{pp.participantID}}">{{pp.ctc.patient.firstName}} {{pp.ctc.patient.middleName}} {{pp.ctc.patient.lastName}}</option>
                                        {% else %}
                                            <option value="{{pp.participantID}}" disabled="disabled">{{pp.ctc.patient.firstName}} {{pp.ctc.patient.middleName}} {{pp.ctc.patient.lastName}}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                                </div>
                              </div>
                              {% endif %}
                              <div class="row">
                                <div class = "col-md-4">
                                  <label for="select_contactTypeLUTID">Contact Type</label>
                                  <select type="text" class="form-control" required="required" name="contactTypeLUTID" id="select_contactTypeLUTID">
                                      <option></option>
                                      {% for contactType in form.contactTypes %}
                                        {% if contactType.contactTypeID == contact.contactTypeLUTID %}
                                            <option selected="selected" value="{{contactType.contactTypeID}}">{{contactType.contactCode}} - {{contactType.contactDefinition}}</option>
                                        {% else %}
                                            <option value="{{contactType.contactTypeID}}">{{contactType.contactCode}} - {{contactType.contactDefinition}}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                                </div>
                                <div class = "col-md-4">
                                  <label for="select_staffID">Staff</label>
                                  <select type="text" class="form-control" required="required" name="staffID" id="select_staffID">
                                      {% for staff in form.staff %}
                                        {% if staff.staffID == contact.staffID %}
                                            <option selected="selected" value="{{staff.staffID}}">{{staff.firstName}} {{staff.middleName}} {{staff.lastName}}</option>
                                        {% else %}
                                            <option value="{{staff.staffID}}">{{staff.firstName}} {{staff.middleName}} {{staff.lastName}}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                                </div>
                              </div>
                              <div class="row">
                                <div class = "col-md-4">
                                  <label for="select_facilityID">Facility</label>
                                  <select type="text" class="form-control" name="facilityID" id="select_facilityID">
                                      <option></option>
                                      {% for facility in form.facilities %}
                                        {% if facility.facilityID == contact.facilityID %}
                                            <option selected="selected" value="{{facility.facilityID}}">{{facility.facilityName}}</option>
                                        {% else %}
                                            <option value="{{facility.facilityID}}">{{facility.facilityName}}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                                </div>
                              <div class = "col-md-4">
                                  <label for="select_facilityID">Facility Phone</label>
                                  <select type="text" class="form-control" name="facilityPhoneID" id="select_facilityPhoneID">
                                      <option></option>
                                      {% for facilityPhone in form.facilityPhones %}
                                        {% if facilityPhone.facilityPhoneID == contact.facilityPhoneID %}
                                            <option selected="selected" value="{{facilityPhone.facilityPhoneID}}">{{facilityPhone.phoneNumber}}</option>
                                        {% else %}
                                            <option value="{{facilityPhone.facilityPhoneID}}">{{facilityPhone.phoneNumber}}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                                </div>
                            </div>
                              <div class="row">
                                <div class = "col-md-8">
                                  <label for="text_description">Description</label>
                                  <input type="text" class="form-control" name="description" id="text_description" value="{{contact.description}}">
                                </div>
                              </div>
                            <div class="row">
                                <div class = "col-md-8">
                                  <label for="text_notes">Notes</label>
                                  <input type="text" class="form-control" name="notes" id="text_notes" value="{{contact.notes}}">
                                </div>
                              </div>
                              <div class="row">
                                <div class = "col-md-4">
                                  <label for="date_contactDate">Contact Date</label>
                                  <input type="date" class="form-control" required="required" name="contactDate" id="date_contactDate" value="{{contact.contactDate}}">
                                </div>
                                <div class = "col-md-4">
                                  <label for="text_initials">Initials</label>
                                  <input type="text" class="form-control" name="initials" id="text_initials" value="{{contact.initials}}">
                                </div>
                              </div>
                            </div>


                            <div class="form-group">
                              <div class="row">
                                <div class = "col-md-4">
                                  <label for="text_createdDate">Created</label>
                                  <input type="text" class="form-control" name="createdDate" id="text_createdDate" value="{{contact.createdDate}}" readonly="readonly" disabled="disabled">
                                </div>
                                <div class = "col-md-4">
                                  <label for="text_modifiedDate">Last Modified</label>
                                  <input type="text" class="form-control" name="modifiedDate" id="text_modifiedDate" value="{{contact.modifiedDate}}" readonly="readonly" disabled="disabled">
                                </div>
                                <div class="col-md-4">
                                  <label for="text_versionID">Version</label>
                                  {% if contact is not none %}
                                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="{{contact.versionID}}" readonly="readonly">
                                  {% else %}
                                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="0" readonly="readonly">
                                  {% endif %}
                                </div>
                                <!-- Extra hidden fields -->
                                {% if contact is not none %}
                                    <input type="hidden" name="_method" value="put" />
                                    <input type="hidden" name="contactID" value="{{contact.contactID}}"/>
                                {% else %}
                                    <input type="hidden" name = "participantID" value = "{{projectPatient.participantID}}"/>
                                {% endif %}
                            </div>
                          </div>
                        </fieldset>
                            <fieldset>
                                <div class = "form-group">
                                  <div class="row">
                                    <div class="col-md-4">
                                      {% if contact is not none %}
                                      <button class="btn btn-primary form-control" type="submit" value="Submit">Submit Edits</button>
                                      {% else %}
                                      <button class="btn btn-primary form-control" type="submit" value="Submit">Add Contact</button>
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>
                            </fieldset>
                    </form>
               </div>
            </div>

    </div>
    <div class="col-md-6">
		<div class="panel panel-default" >
			<div class="panel-heading"> Patient/CTC Info</div>
				<div class="panel-body">
                     <form class="formOverride" id="contactInfoForm">
                          <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                          <div class = "col-md-4">
                                              <label for="text_firstName">First Name</label>
                                              <input type="text" class="form-control" id="text_firstName" value="{{projectPatient.ctc["patient"]["firstName"]}}" readonly="readonly" disabled="disabled">
                                          </div>
                                          <div class="col-md-4">
                                              <label for="text_middleName">Middle Name</label>
                                              <input type="text" class="form-control" id="text_middleName" value="{{projectPatient.ctc["patient"]["middleName"]}}" readonly="readonly" disabled="disabled">
                                          </div>
                                          <div class="col-md-4">
                                              <label for="text_lastName">Last Name</label>
                                              <input type="text" class="form-control" id="text_lastName" value="{{projectPatient.ctc["patient"]["lastName"]}}" readonly="readonly" disabled="disabled">
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class = "col-md-4">
                                            <label for="text_dnc">DNC</label>
                                            <input type="text" class="form-control" id="text_dnc" value="{{projectPatient.ctc.dnc}}" readonly="readonly" disabled="disabled">
                                        </div>
                                        <div class = "col-md-4">
                                            <label for="text_dncReason">DNC Reason</label>
                                            <input type="text" class="form-control" id="text_dncReason" value="{{projectPatient.ctc.dncReason}}" readonly="readonly" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="row">
                                         <div class="col-md-2">
                                              <label for="date_dobDay">DOB Day</label>
                                              <input type="text" class="form-control" id="date_dobDay" value="{{projectPatient.ctc["patient"]["dobDay"]}}" readonly="readonly" disabled="disabled">
                                         </div>
                                         <div class="col-md-2">
                                              <label for="date_dobMonth">DOB Mo</label>
                                              <input type="text" class="form-control" id="date_dobMonth" value="{{projectPatient.ctc["patient"]["dobMonth"]}}" readonly="readonly" disabled="disabled">
                                         </div>
                                         <div class="col-md-2">
                                              <label for="date_dobYear">DOB Year</label>
                                              <input type="text" class="form-control" id="date_dobYear" value="{{projectPatient.ctc["patient"]["dobYear"]}}" readonly="readonly" disabled="disabled">
                                         </div>
                                    </div>
                                    <table class="table table-striped no-spacing">
                                        <thead>
                                            <tr>
                                            <th>Facility Name</th>
                                            <th>Phone Number</th>
                                            <th>Status</th>
                                            <th>Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ctcFacility in projectPatient.ctc.ctcFacilities %}
                                        {% for phone in ctcFacility.facility.facilityPhones %}
                                            <tr>
                                                <td>{{ctcFacility.facility.facilityName}}</td>
                                                <td>{{phone["phoneNumber"]}}</td>
                                                <td>{{phone["contactInfoStatus"].contactInfoStatus}}</td>
                                                <td>{{phone["phoneType"].phoneType}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                          </fieldset>
                     </form>
                </div>
        </div>
    </div>
</div>



