{% if log is not none %}
    <!-- action url is for update -->
    <form class="formOverride" id="logForm" action='/website/logs/{{log["logID"]}}/', method='post'>
{% else %}
    <!-- action url is for post/create -->
    <form class="formOverride" id="logForm" action='/website/logs/', method='post'>
{% endif %}
      <fieldset>
            <div class="form-group">
              <div class="row">
                <div class = "col-md-4">
                  <label for="select_projectID">Project</label>
                  <select type="text" class="form-control" name="projectID" id="select_projectID">
                      {% for proj in form["projects"] %}
                        {% if proj.projectID == log["projectID"] %}
                            <option selected="selected" value="{{proj.projectID}}">{{proj.shortTitle}}</option>
                        {% else %}
                            <option value="{{proj.projectID}}">{{proj.shortTitle}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
              <div class = "col-md-2">
                  <label for="select_logSubjectID">Log Subject</label>
                  <select type="text" class="form-control" name="logSubjectID" id="select_logSubjectID">
                      {% for logSubject in form["logSubjects"] %}
                        {% if log.logSubjectID == logSubject["logSubjectID"] %}
                            <option selected="selected" value="{{logSubject.logSubjectID}}">{{logSubject.logSubject}}</option>
                        {% else %}
                            <option value="{{logSubject.logSubjectID}}">{{logSubject.logSubject}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
                <div class = "col-md-2">
                  <label for="select_phaseStatusID">Phase Status</label>
                  <select type="text" class="form-control" name="phaseStatusID" id="select_phaseStatusID">
                      {% for phaseStatus in form["phaseStatuses"] %}
                        {% if log.logPhaseID == phaseStatus["logPhaseID"] %}
                            <option selected="selected" value="{{phaseStatus.logPhaseID}}">{{phaseStatus.phaseStatus}}</option>
                        {% else %}
                            <option value="{{phaseStatus.logPhaseID}}">{{phaseStatus.phaseStatus}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
                <div class = "col-md-2">
                  <label for="select_staffID">Staff</label>
                  <select type="text" class="form-control" name="staffID" id="select_staffID">
                      {% for staff in form["staff"] %}
                        {% if staff.staffID == log["staffID"] %}
                            <option selected="selected" value="{{staff.staffID}}">{{staff.firstName}} {{staff.middleName}} {{staff.lastName}}</option>
                        {% else %}
                            <option value="{{staff.staffID}}">{{staff.firstName}} {{staff.middleName}} {{staff.lastName}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class = "col-md-8">
                  <label for="text_note">Note</label>
                  <input type="text" class="form-control" name="note" id="text_note" value="{{log["note"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="date_date">Date</label>
                  <input type="date" class="form-control" name="date" id="date_date" value="{{log["date"]}}">
                </div>
              </div>
          </div>
      
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_createdDate">Created</label>
                  <input type="text" class="form-control" name="createdDate" id="text_createdDate" value="{{log["createdDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class = "col-md-2">
                  <label for="text_modifiedDate">Last Modified</label>
                  <input type="text" class="form-control" name="modifiedDate" id="text_modifiedDate" value="{{log["modifiedDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class="col-md-2">
                  <label for="text_versionID">Version</label>  
                  {% if log is not none %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="{{log["versionID"]}}" readonly="readonly">
                  {% else %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="0" readonly="readonly">
                  {% endif %}  
                </div>
                <!-- Extra hidden fields -->
                {% if log is not none %}
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" name="logID" value="{{log["logID"]}}"/>
                {% else %}
                    <input type="hidden" name="projectID" value="{{form["project"]["projectID"]}}"/>
                {% endif %}
            </div>
          </div>
        </fieldset>
            <fieldset>
                <div class = "form-group">
                  <div class="row">
                    <div class="col-md-2">
                      {% if log is not none %}
                      <button class="btn btn-primary form-control" type="submit" value="Submit">Submit Edits</button>
                      {% else %}
                      <button class="btn btn-primary form-control" type="submit" value="Submit">Add Log</button>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </fieldset>
    </form>