{% if patientProjectStatus is not none %}
    <!-- action url is for update -->
    <form class="formOverride" id="patientProjectStatusForm" action='/website/patientprojectstatuses/{{patientProjectStatus["patientProjectStatusID"]}}/', method='post'>
{% else %}
    <!-- action url is for post/create -->
    <form class="formOverride" id="patientProjectStatusForm" action='/website/patientprojectstatuses/', method='post'>
{% endif %}
      <fieldset>
            <div class="form-group">
            {% if patientProjectStatus is not none %}
              <div class="row">
                <div class = "col-md-4">
                  <label for="select_projectPatientID">Project Patient</label>
                  <select type="text" class="form-control" required="required" name="participantID" id="select_projectPatientID">
                      {% for pp in form.projectPatients %}
                        {% if pp.participantID == patientProjectStatus.participantID %}
                            <option selected="selected" value="{{pp.participantID}}">{{pp.ctc.patient.firstName}} {{pp.ctc.patient.middleName}} {{pp.ctc.patient.lastName}}</option>
                        {% else %}
                            <option value="{{pp.participantID}}" disabled="disabled">{{pp.ctc.patient.firstName}} {{pp.ctc.patient.middleName}} {{pp.ctc.patient.lastName}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>
              {% endif %}
              <div class="row">
                <div class = "col-md-8">
                  <label for="select_patientProjectStatusTypeID">Project Patient Status Type</label>
                  <select required="required" type="text" class="form-control" name="patientProjectStatusTypeID" id="select_patientProjectStatusTypeID">
                      <option></option>
                      {% for ppst in form.patientProjectStatusTypes %}
                        {% if ppst.patientProjectStatusTypeID == patientProjectStatus.patientProjectStatusTypeID %}
                            <option selected="selected" value="{{ppst.patientProjectStatusTypeID}}">{{ppst.statusDescription}}</option>
                        {% else %}
                            <option value="{{ppst.patientProjectStatusTypeID}}">{{ppst.statusDescription}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_createdDate">Created</label>
                  <input type="text" class="form-control" name="createdDate" id="text_createdDate" value="{{patientProjectStatus.createdDate}}" readonly="readonly" disabled="disabled">
                </div>
                <div class = "col-md-2">
                  <label for="text_modifiedDate">Last Modified</label>
                  <input type="text" class="form-control" name="modifiedDate" id="text_modifiedDate" value="{{patientProjectStatus.modifiedDate}}" readonly="readonly" disabled="disabled">
                </div>
                <div class="col-md-2">
                  <label for="text_versionID">Version</label>  
                  {% if patientProjectStatus is not none %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="{{patientProjectStatus.versionID}}" readonly="readonly">
                  {% else %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="0" readonly="readonly">
                  {% endif %}  
                </div>
                <!-- Extra hidden fields -->
                {% if patientProjectStatus is not none %}
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" name="patientProjectStatusID" value="{{patientProjectStatus.patientProjectStatusID}}"/>
                {% else %}
                    <input type="hidden" name="patientProjectStatusID" value="0"/>
                    <input type="hidden" name="participantID" value="{{projectPatient.participantID}}"/>
                {% endif %}
            </div>
          </div>
        </fieldset>
            <fieldset>
                <div class = "form-group">
                  <div class="row">
                    <div class="col-md-2">
                      {% if patientProjectStatus is not none %}
                      <button class="btn btn-primary form-control" type="submit" value="Submit">Submit Edits</button>
                      {% else %}
                      <button class="btn btn-primary form-control" type="submit" value="Submit">Add Patient Project Status</button>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </fieldset>
    </form>