{% if preApplication is not none %}
    <!-- action url is for update -->
    <form class="formOverride" id="preApplicationForm" action='/website/preapplications/{{preApplication["preApplicationID"]}}/', method='post'>
{% else %}
    <!-- action url is for post/create -->
    <form class="formOverride" id="preApplicationForm" action='/website/preapplications/', method='post'>
{% endif %}
      <fieldset>
            <div class="form-group">
            {% if preApplication is not none %}
              <div class="row">
                <div class = "col-md-4">
                  <label for="select_projectID">Project</label>
                  <select type="text" class="form-control" required="required" name="projectID" id="select_projectID">
                      {% for proj in form.projects %}
                        {% if proj.projectID == preApplication.projectID %}
                            <option selected="selected" value="{{proj.projectID}}">{{proj.shortTitle}}</option>
                        {% else %}
                            <option value="{{proj.projectID}}" disabled="disabled">{{proj.shortTitle}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>
              {% endif %}
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_piFirstName">PI First Name</label>
                  <input type="text" class="form-control" name="piFirstName" id="text_piFirstName" value="{{preApplication.piFirstName}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_piLastName">PI Last Name</label>
                  <input type="text" class="form-control" name="piLastName" id="text_piLastName" value="{{preApplication.piLastName}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_piPhone">PI Phone</label>
                  <input type="text" class="form-control" name="piPhone" id="text_piPhone" value="{{preApplication.piPhone}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_piEmail">PI Email</label>
                  <input type="text" class="form-control" name="piEmail" id="text_piEmail" value="{{preApplication.piEmail}}">
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_contactFirstName">Contact First Name</label>
                  <input type="text" class="form-control" name="contactFirstName" id="text_contactFirstName" value="{{preApplication.contactFirstName}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_contactLastName">Contact Last Name</label>
                  <input type="text" class="form-control" name="contactLastName" id="text_contactLastName" value="{{preApplication.contactLastName}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_contactPhone">Contact Phone</label>
                  <input type="text" class="form-control" name="contactPhone" id="text_contactPhone" value="{{preApplication.contactPhone}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_contactEmail">Contact Email</label>
                  <input type="text" class="form-control" name="contactEmail" id="text_contactEmail" value="{{preApplication.contactEmail}}">
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_institution">Institution</label>
                   <select type="text" class="form-control" name="institution" id="select_institution">
                      <option></option>
                      {% for institution in form["institutions"] %}
                        {% if institution.institutionID == preApplication.institution %}
                            <option value="{{institution.institutionID}}" selected="selected">{{institution.institution}}</option>
                        {% else %}
                            <option value="{{institution.institutionID}}">{{institution.institution}}</option>
                        {% endif %}
                      {% endfor %}
                   </select>
                </div>
                <div class = "col-md-2">
                  <label for="text_institution2">Institution 2</label>
                  <input type="text" class="form-control" name="institution2" id="text_institution2" value="{{preApplication.institution2}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_uid">UID</label>
                  <input type="text" class="form-control" name="uid" id="text_uid" value="{{preApplication.uid}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_udoh">UDOH</label>
                  <input type="text" class="form-control" name="udoh" id="text_udoh" value="{{preApplication.udoh}}">
                </div>
              </div>
              <div class="row">
                <div class = "col-md-8">
                  <label for="text_projectTitle">Project Title</label>
                  <input type="text" class="form-control" name="projectTitle" id="text_projectTitle" value="{{preApplication.projectTitle}}">
                </div>
                <div class = "col-md-8">
                  <label for="text_purpose">Purpose</label>
                  <textarea type="text" class="form-control" name="purpose" id="text_purpose">{{preApplication.purpose}}</textarea>
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="select_irb0">IRB 0</label>
                  <select type="text" class="form-control" name="irb0" id="select_irb0">
                        {% if preApplication.irb0 %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.irb0 %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
                <div class = "col-md-2">
                  <label for="select_irb1">IRB 1</label>
                  <select type="text" class="form-control" name="irb1" id="select_irb1">
                      {% if preApplication.irb1 %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.irb1 %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
                <div class = "col-md-2">
                  <label for="select_irb2">IRB 2</label>
                  <select type="text" class="form-control" name="irb2" id="select_irb2">
                      {% if preApplication.irb2 %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.irb2 %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="select_irb3">IRB 3</label>
                  <select type="text" class="form-control" name="irb3" id="select_irb3">
                      {% if preApplication.irb3 %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.irb3 %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
                <div class = "col-md-2">
                  <label for="select_irb4">IRB 4</label>
                  <select type="text" class="form-control" name="irb4" id="select_irb4">
                      {% if preApplication.irb4 %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.irb4 %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
                <div class = "col-md-2">
                  <label for="text_otherIrb">Other IRB</label>
                  <input type="text" class="form-control" name="otherIrb" id="text_otherIrb" value="{{preApplication.otherIrb}}">
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="select_updb">UPDB</label>
                  <select type="text" class="form-control" name="updb" id="select_updb" value="{{preApplication.updb}}">
                      {% if preApplication.updb %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.updb %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
                <div class = "col-md-2">
                    <label for="select_ptContact">PT Contact</label>
                    <select type="text" class="form-control" name="ptContact" id="select_ptContact" value="{{preApplication.ptContact}}">
                      {% if preApplication.ptContact %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.ptContact %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
                <div class = "col-md-2">
                  <label for="date_startDate">Start Date</label>
                  <input type="date" class="form-control" name="startDate" id="date_startDate" value="{{preApplication.startDate}}">
                </div>
                <div class = "col-md-2">
                  <label for="date_deliveryDate">Delivery Date</label>
                  <input type="date" class="form-control" name="deliveryDate" id="date_deliveryDate" value="{{preApplication.deliveryDate}}">
                </div>
              </div>
              <div class="row">
                <div class = "col-md-2">
                  <label for="select_link">Link</label>
                  <select type="text" class="form-control" name="link" id="select_link" value="{{preApplication.link}}">
                      {% if preApplication.link %}
                            <option value="True" selected="selected">Yes</option>
                        {% else %}
                            <option value="True">Yes</option>
                        {% endif %}
                        {% if not preApplication.link %}
                            <option value="False" selected="selected">No</option>
                        {% else %}
                            <option value="False">No</option>
                        {% endif %}
                    </select>
                </div>
                <div class = "col-md-2">
                  <label for="text_description">Description</label>
                  <input type="text" class="form-control" name="description" id="text_description" value="{{preApplication.description}}">
                </div>
              </div>
          </div>
      
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_createdDate">Created</label>
                  <input type="text" class="form-control" name="createdDate" id="text_createdDate" value="{{preApplication.createdDate}}" readonly="readonly" disabled="disabled">
                </div>
                <div class = "col-md-2">
                  <label for="text_modifiedDate">Last Modified</label>
                  <input type="text" class="form-control" name="modifiedDate" id="text_modifiedDate" value="{{preApplication.modifiedDate}}" readonly="readonly" disabled="disabled">
                </div>
                <div class="col-md-2">
                  <label for="text_versionID">Version</label>  
                  {% if preApplication is not none %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="{{preApplication.versionID}}" readonly="readonly">
                  {% else %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID" value="0" readonly="readonly">
                  {% endif %}  
                </div>
                <!-- Extra hidden fields -->
                {% if preApplication is not none %}
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" name="preApplicationID" value="{{preApplication.preApplicationID}}"/>
                    <input type="hidden" name="_redirectlink" value="projects/{{preApplication["projectID"]}}/#preApplicationTab">
                {% else %}
                    <input type="hidden" name="projectID" value="{{form.project.projectID}}"/>
                    <input type="hidden" name="_redirectlink" value="{{request.path}}#preApplicationTab">
                {% endif %}
            </div>
          </div>
        </fieldset>
            <fieldset>
                <div class = "form-group">
                  <div class="row">
                    <div class="col-md-2">
                      {% if preApplication is not none %}
                      <button class="btn btn-primary form-control" type="submit" value="Submit">Submit Edits</button>
                      {% else %}
                      <button class="btn btn-primary form-control" type="submit" value="Submit">Add PreApplication</button>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </fieldset>
    </form>