{% if projectType is not none %}
    <!-- action url is for update -->
    <form class="formOverride" id="projectStatusForm{{loop.index}}" action='/website/projecttypes/{{projectType["projectTypeID"]}}/', method='post'>
{% else %}
    <!-- action url is for post/create -->
    <form class="formOverride" id="projectStatusForm{{loop.index}}" action='/website/projecttypes/', method='post'>
{% endif %}
      <fieldset>
        <legend>Project Type</legend>
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_projectType{{loop.index}}">Type</label>
                  <input type="text" class="form-control" name="projectType" id="text_projectType{{loop.index}}" value="{{projectType["projectType"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_projectTypeDefinition{{loop.index}}">Type Definition</label>
                  <input type="text" class="form-control" name="projectTypeDefinition" id="text_projectTypeDefinition{{loop.index}}" value="{{projectType["projectTypeDefinition"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_createdDate{{loop.index}}">Created</label>
                  <input type="text" class="form-control" name="createdDate" id="text_createdDate{{loop.index}}" value="{{projectType["createdDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class = "col-md-2">
                  <label for="text_modifiedDate{{loop.index}}">Last Modified</label>
                  <input type="text" class="form-control" name="modifiedDate" id="text_modifiedDate{{loop.index}}" value="{{projectType["modifiedDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class="col-md-2">
                  <label for="text_versionID{{loop.index}}">Version</label>  
                  {% if projectType is not none %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID{{loop.index}}" value="{{projectType["versionID"]}}" readonly="readonly">
                  {% else %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID{{loop.index}}" value="0" readonly="readonly">
                  {% endif %}  
                </div>
                <div class="col-md-2">
                  <label for="sub_button{{loop.index}}">Make Changes</label>
                  {% if projectType is not none %}
                  <button id="sub_button{{loop.index}}" class="btn btn-primary form-control" type="submit" value="Submit">Submit Edits</button>
                  {% else %}
                  <button id="sub_button{{loop.index}}" class="btn btn-primary form-control" type="submit" value="Submit">Add Project Status</button>
                  {% endif %}
                </div>
                                <!-- Extra hidden fields -->
                {% if projectType is not none %}
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" name="projectTypeID" value="{{projectType["projectTypeID"]}}"/>
                {% else %}
                    <input type="hidden" name="projectTypeID" value="0"/>
                {% endif %}
                </div>
            </div>
        </fieldset>
    </form>