<div class="container-fluid">
{% if tracingSource is not none %}
    <!-- action url is for update -->
    <form class="formOverride" id="projectStatusForm{{loop.index}}" action='/website/tracingsources/{{tracingSource["tracingSourceID"]}}/', method='post'>
{% else %}
    <!-- action url is for post/create -->
    <form class="formOverride" id="projectStatusForm{{loop.index}}" action='/website/tracingsources/', method='post'>
{% endif %}
      <fieldset>
        <legend>Tracing Source</legend>
            <div class="form-group">
              <div class="row">
                <div class = "col-md-2">
                  <label for="text_tracingSourceDescription{{loop.index}}">Description</label>
                  <input type="text" class="form-control" name="description" id="text_tracingSourceDescription{{loop.index}}" value="{{tracingSource["description"]}}">
                </div>
                <div class = "col-md-2">
                  <label for="text_createdDate{{loop.index}}">Created</label>
                  <input type="text" class="form-control" name="createdDate" id="text_createdDate{{loop.index}}" value="{{tracingSource["createdDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class = "col-md-2">
                  <label for="text_modifiedDate{{loop.index}}">Last Modified</label>
                  <input type="text" class="form-control" name="modifiedDate" id="text_modifiedDate{{loop.index}}" value="{{tracingSource["modifiedDate"]}}" readonly="readonly" disabled="disabled">
                </div>
                <div class="col-md-2">
                  <label for="text_versionID{{loop.index}}">Version</label>  
                  {% if tracingSource is not none %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID{{loop.index}}" value="{{tracingSource["versionID"]}}" readonly="readonly">
                  {% else %}
                    <input type="text" class="form-control" name="versionID" id="text_versionID{{loop.index}}" value="0" readonly="readonly">
                  {% endif %}  
                </div>
                <div class="col-md-2">
                    <label>Undo Changes</label>
                    <button class="btn btn-primary form-control" onClick="window.history.back();" value="Back" type="button">Back</button>
                </div>
                <div class="col-md-2">
                  <label for="sub_button{{loop.index}}">Make Changes</label>
                  {% if tracingSource is not none %}
                  <button id="sub_button{{loop.index}}" class="btn btn-primary form-control" type="submit" value="Submit">Submit Edits</button>
                  {% else %}
                  <button id="sub_button{{loop.index}}" class="btn btn-primary form-control" type="submit" value="Submit">Add Staff Role</button>
                  {% endif %}
                </div>
                                <!-- Extra hidden fields -->
                {% if tracingSource is not none %}
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" name="tracingSourceID" value="{{tracingSource["tracingSourceID"]}}"/>
                {% else %}
                    <input type="hidden" name="tracingSourceID" value="0"/>
                {% endif %}
                </div>
            </div>
        </fieldset>
    </form>
</div>