.required {
    border-color: red;
}
@media (min-width: 768px) {
    .logout {
        border-width: 0px 0px 0px 2px;
        border-color: #9d9d9d;
        border-style: solid;
    }
}

.row-dark {
    /*background-color:#d3d3d3;*/
}

.row-dark input {
    /*background-color:#CDE7F0;*/
}
.row-dark select {
    /*background-color:#CDE7F0;*/
}


.row {
    padding-top: 5px;
    padding-bottom: 5px;
}